.slide1 {
  width: 90%;
  height: calc((100% - 30px) / 2) !important;
  padding: 10px !important;
}
.prev {
  position: absolute;
  left: 8px;
  top: 40%;
}
.next {
  position: absolute;
  right: 8px;
  top: 40%;
}
.next,
.prev {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  font-size: 30px;
  color: rgb(135, 101, 163);
  border-radius: 50%;
  border: 1px solid rgb(110, 69, 110);
}
.sliderChild {
  border-radius: 5px;
  height: 600px;
  box-shadow: 2px 2px 10px rgb(170, 170, 170);
  cursor: pointer;
}
